h1{
	color:#33cccc;
}
h2{
	color:#0000cc;
}
h3{
	color:#0000cc;
}
body{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
body{
	border-color: #6600cc;
	border-style: groove;
	border-width: 3px
	}
body{
	margin: 10px;
}